
* {
  box-sizing: border-box;
}

 .container{
    width:100%;
    background-color:white;
    position: relative;    
} 

 .title {
   font-size: 80px;
    width: 100%;
    margin:0 auto;
    padding:2%;
    text-align: center;
    max-width: 68rem; }
    @media (min-width: 32em) {
    .title {
        width: 75%;
        } } 

 .img-wrapper{
  width:50%;
  height:auto;
  left:30%;
  position:absolute;
  margin:2%;
      }

 .img-wrapper img {
  width:100%;
  display: none;
  animation: reveal .5s ease-in-out;
    }

  .paragraph {
    display: block;
    max-width: 56rem;
    text-align: center;
    margin-bottom: 0; 
    margin:0 auto;
    font-size: 30px;
    padding:2%;    
} 
   
.timeline{ 
  max-width: 80%;
  margin:1.7%;
  height:auto;}
  @media (max-width: 1280px) {
  .timeline{
    display:flex;
    flex-wrap: nowrap;
    margin:30%;
    margin-left: 15%;
    align-items: stretch;
    justify-content: space-between;
    width:80%;
 
    
  } }
   

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position:absolute;
  width: 1px;
  background-color: #6b53ff;
  top: 45%;
  bottom: 21%;
  left: 10%;
  margin-left: -3px; 
}
@media (max-width: 1280px) {
  .timeline::after{
    content:"";
    display: inline-block;
    height: 3px;
    vertical-align: bottom;
    width: 62.5%;
    margin-left: 20.5%;
    border-top: 1px  #6b53ff;
    margin-top:20.5%;
 
    
  } }

/* Container around content */
.timeline-text {
  padding:10px 40px;
  position: relative;
  width: 23%;
  left:10%;
  font-size: 16px; 
 
  
}
@media (max-width: 1280px) {
  .timeline-text{
    padding:50px 5px;
    display: flex;
    font-size: 16px;
    flex-wrap: nowrap;
    justify-content: space-between; } }


/* The actual content */
.content {
  padding: 13px 23px;
  background-color: white;
  position: relative;
  bottom:33px;
}
 
   
/* The circles on the timeline */
.timeline-text::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: -2px;
  background-color: #6b53ff;
  border: 4px solid #6b53ff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 1280px) {
  .timeline-text::after{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    left:40%;
    justify-content: space-between; } }



    .img-wrapper .slider-item.active{
      display: block;
    }   
 


  


















/* 
   .timeline-point .timeline-trigger .timeline-label {
    color: #8d49f7;
    background-color: #8d49f7;
    background-image: linear-gradient(90deg, #6b53ff, #8d49f7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
    .timeline-point .timeline-trigger .timeline-label > * {
      -webkit-text-fill-color: currentColor;
      -moz-text-fill-color: currentColor; }
  @media (min-width: 80em) {
    .timeline-point[data-active="true"] p {
      max-height: 11rem;
      transition: max-height 0.4s ease-in-out, opacity 0.2s 0.4s, transform 0.3s 0.4s ease-out;
      transform: translateY(0);
      opacity: 1; } }
  @media (min-width: 87.5em) {
    .timeline-point p {
      max-height: 9rem; } }
  .timeline-pointh3, .timeline-point[data-past="true"] h3 {
    opacity: 1; }
  @media (max-width: 80em) {
    .timeline-point p, .timeline-point p {
      opacity: 1; } }
  @media (min-width: 80em) {
    .timeline-point {
      width: 100%;
      margin: 0; } } .timeline-trigger .timeline-label {
    color: #8d49f7;
    background-color: #8d49f7;
    background-image: linear-gradient(90deg, #6b53ff, #8d49f7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
    .timeline-point .timeline-point .video-label > * {
      -webkit-text-fill-color: currentColor;
      -moz-text-fill-color: currentColor; }
  @media (min-width: 80em) {
    .timeline-point[data-active="true"] p {
      max-height: 11rem;
      transition: max-height 0.4s ease-in-out, opacity 0.2s 0.4s, transform 0.3s 0.4s ease-out;
      transform: translateY(0);
      opacity: 1; } }
  @media (min-width: 87.5em) {
    .timeline-point p {
      max-height: 9rem; } }
  .timeline-point h3, .timeline-point h3 {
    opacity: 1; }
  @media (max-width: 80em) {
    .timeline-point p, .timeline-point p {
      opacity: 1; } }
  @media (min-width: 80em) {
    .timeline-point {
      width: 100%;
      margin: 0; } } */ */